<!DOCTYPE html>
{% load static%}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css'%}" type="text/css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-4 col-sm-8 p-0" style="	transform:  scale(15%);"><img class="img-fluid d-block" src="{% static 'img/logo.jpg' %}"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1 class="my-3">MESA DE AYUDA<br>INFORMATICA ENAMI 2019</h1>
          <p class="mb-3">Rellena el siguiente formulario y te atenderemos a la brevedad.</p>
            {% block content %}
              <form method="POST" actions="">{% csrf_token %}
                  {{el_form.as_p}}
                  <button type="submit" class="btn btn-primary">Enviar solicitud</button>
              </form>

            {% endblock %}

        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6 class="">Autor: Marcelo Paez&nbsp;<br></h6>
          <h6 class="">Practicante ENAMI 2019<br></h6>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" style=""></script>
</body>

</html>
